<div class="container">
  <div class="card">

    <div class="card-top">
     <img src="./../assets/images/linkedin-background.jpg" alt="">
    </div>

    <div class="card-header">
      <img src="{{user.results[0].picture.large}}" alt="">
    </div>

    <div class="card-detail">

      <div class="card-detail-user">
        <h1>{{user.results[0].name.first}} {{user.results[0].name.last}}</h1>
        <p>Frontend Developer | Angular</p>
        <span>{{user.results[0].location.country}}, {{user.results[0].location.state}}, {{user.results[0].location.city}}</span>

        <a href="#"><b>Información de contacto</b></a>

        <a href="#" style="font-size: 12px; margin-top: 9px;"><b>{{user.results[0].dob.age}} contactos</b></a>
      </div>

      <div class="card-detail-others">
        <div class="card-detail-job">
          <img class="logo" src="./../assets/images/linkedin-trabajo.jpg" alt="">
          <p><a href="#"><b>Estudio León</b></a></p>
        </div>
        <div class="card-detail-edu">
          <img class="logo" src="./../assets/images/linkedin-educacion.jpg" alt="">
          <p><a href="#"><b>Universidad Nacional del Sur</b></a></p>
        </div>
      </div>
    </div>

    <div class="contact-equal">
      <div class="contact-equal-img">
        <img src="./../assets/images/lucas-thumbnail.png" alt="">
      </div>
      <p><b>1 contacto en común</b> Lucas Villegas</p>
    </div>

    <div class="card-bottom">
      <div class="btn-msg"><i class="fa-sharp fa-solid fa-paper-plane icon"></i> <p><b>Enviar Mensaje</b></p></div>
      <div class="btn-more"><p><b>Más</b></p></div>
      <div (click)="actualizar()" class="btn-more-user"><p><b>Cambiar persona</b></p></div>
    </div>

  </div>
</div>


